:root {
  --main-title-color: #2e2f42;
  --secondery-title-color: #434455;
  --accent-color: blue;
  --logo-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero {
  padding-bottom: 188px;
  padding-top: 188px;
}

/*--------Logo-------  */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-right: 71px;
}
.logo span {
  color: var(--logo-color);
}

/*--------Footer-------  */

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-link span {
  line-height: 1.17;
  color: var(--logo-color);
}

/* ----Header---  */
.page-header-container {
  display: flex;
  align-items: center;
}

.page-header {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.address-list {
  display: flex;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-title-color);
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0px;
  top: 44px;
  background: #404bbf;
  border-radius: 2px;
}

.current {
  color: #404bbf;
}

.header-top {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 24px;
}

/* ----Contact-----  */

.mailto {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondery-title-color);
  font-style: normal;
  margin-right: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondery-title-color);
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
.address {
  margin-left: auto;
}
/* ----Hero----  */

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}

.sec-hero {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  background-size: cover cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-repeat: no-repeat;
  background-position: center center;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

.modal-but {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-svg {
  color: #2e2f42;
  transition-property: fill;
}

.modal-but:hover,
.modal-but:focus {
  background-color: #404bbf;
}

.modal-svg:hover,
.modal-svg:focus {
  fill: #ffffff;
}

.mod {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  padding-right: 24px;
}

/* ---Section1---  */

.list-content {
  display: flex;
}

.item-content:not(:last-child) {
  margin-right: 24px;
}

.content-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}

.content-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondery-title-color);
}

.features-fons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  gap: 24px;
  margin-bottom: 8px;
}

/* ---Section2---  */

.features-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
  text-align: center;
}

.features {
  padding-bottom: 120px;
}

.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 24px;
}

/*----- section3----  */

.title-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-align: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondery-title-color);
  margin-top: 8px;
  text-align: center;
  margin-bottom: 8px;
}
.team {
  background-color: #f4f4fd;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item-team {
  flex-basis: calc ((100%-72)/4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.employees {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-pic {
  fill: #f4f4fd;
}

.icon-team:hover,
.icon-team:focus {
  background-color: #404bbf;
}

/* ----customers----  */

.customers-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 0px;
  gap: 24px;
}

.title-customers {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-pic:hover,
.customers-pic:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
}

.customers-icons {
  fill: currentColor;
}

/* ----footer----  */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.social-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .container {
  display: flex;
}

.footer-icons {
  display: flex;
  gap: 16px;
}
.footer-text-top {
  margin-right: 120px;
}

.footer-link-list {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-list:hover,
.footer-link-list:focus {
  background-color: #31d0aa;
}

/* ---Portfolio---  */

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 4;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  background: #f4f4fd;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #404bbf;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--secondery-title-color);
}

.main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.main-items:not(:last-child) {
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  background: #ffffff;
  flex-basis: calc((100% - 48px) / 3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-example {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e9fc;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e7e9fc;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfoliomb {
  margin-bottom: 48px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  overflow: auto;
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-overlay:hover .portfolio-overlay,
.link-overlay:focus .portfolio-overlay {
  transform: translate(0%, 0%);
}

/* ---Backdrop---  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 576px;
  min-width: 408px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  overflow: visible;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
